{% extends "::base.html.twig" %}

{% block body %}

	<h1>Liste des compétences</h1>

	<div class="table-responsive">
		<table class="table">
			<thead>
			<tr>
				<th>#</th>
				<th>name</th>
				<th>category</th>
				<th>date_start</th>
				<th>date_end</th>
				<th>actions</th>
			</tr>
			</thead>
			<tbody>
			{% for userSkill in userSkills %}
				<tr>
					<td>{{ loop.index }}</td>
					<td>{{ userSkill.skill.name }}</td>
					<td>{{ userSkill.skill.skillCategory }}</td>
					<td>{{ userSkill.dateStart.format('Y-m-d') }}</td>
					<td>{{ userSkill.dateEnd.format('Y-m-d') }}</td>
					<td>
						<a href="{{ path('userSkillDelete',{'id': userSkill.id}) }}">[[DELETE]]</a>
						<a href="{{ path('userSkillEdit',{'id': userSkill.id}) }}">[[EDIT]]</a>
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>

	<h2>Ajouter une compétence</h2>

	{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
	{{ form(form) }}

{% endblock %}