{% extends "::base.html.twig" %}
{% block title %}PEC - Mon profil{% endblock %}
{% block body %}
<div class="container">

    <h1>Mon profil</h1>

    {% if profileUpdate %}
        <div class="alert alert-info alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            Les modifications seront éffectives après votre reconnexion
        </div>
    {% endif %}

    <div role="tabpanel">

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#voir" aria-controls="voir" role="tab" data-toggle="tab">Voir</a></li>
            <li role="presentation"><a href="#modifier" aria-controls="modifier" role="tab" data-toggle="tab">Modifer</a></li>
            <li role="presentation"><a href="#parametres" aria-controls="parametres" role="tab" data-toggle="tab">Paramètres</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="voir">

                <h2>Récapitulatif de votre compte</h2>

                <div class="group">
                    <label>Prénom</label>
                    <p>{{ app.user.name }}</p>
                </div>

                <div class="group">
                    <label>Nom</label>
                    <p>{{ app.user.surname }}</p>
                </div>

                <div class="group">
                    <label>Username</label>
                    <p>{{ app.user.username }}</p>
                </div>

                <div class="group">
                    <label>Email</label>
                    <p>{{ app.user.mail }}</p>
                </div>

                {% if not is_granted('ROLE_ADMIN') %}
                    <div class="group">
                        <label>Visibilité du profil</label>
                        {% if profileState %}
                            <p>Votre profil est actuellement privée</p>
                        {% else %}
                            <p>Votre profil est actuellement public</p>
                        {% endif %}
                    </div>
                {% endif %}

            </div>

            <div role="tabpanel" class="tab-pane" id="modifier">

                <h2>Informations</h2>

                {{ form(formChangePersonalData) }}

                <h2>Mot de passe</h2>

                {{ form(formChangePassword) }}

            </div>

            <div role="tabpanel" class="tab-pane" id="parametres">

                {% if not is_granted('ROLE_ADMIN') %}
                    <h2>Gestion profil</h2>

                    {{ form(formChangeProfil) }}
                {% endif %}

                <h2>Gestion compte</h2>

                <button id="delete-account" class="btn btn-danger">Supprimer mon compte (cette action est définitive)</button>

            </div>

        </div>

    </div>

	<script type="application/javascript">
		$(document).ready(function() {
			/**
			 * Select tab from url
			 */
			var hash = document.location.hash;
			var prefix = "tab_";
			if (hash) {
				$('.nav-tabs a[href=' + hash.replace(prefix, "") + ']').click();
			}

			// Change hash for page-reload
			$('.nav-tabs a').on('shown', function (e) {
				window.location.hash = e.target.hash.replace("#", "#" + prefix);
			});

			// Update data list when filter item selection change
			$('.form-filter select').on('change', function () {
				$('.form-filter').submit();
			});

            $('#delete-account').on('click', function() {
                if(confirm("Etes-vous sur de vouloir supprimer votre compte ?")) {
                    window.location.replace("{{ path("user_delete") }}");
                }
                else {
                    console.log("compte non supprimé");
                }
            })
		});
	</script>
</div>
{% endblock %}