{% extends "::base.html.twig" %}

{% block body %}
<div class="container">
    <h1>Votre Profil</h1>

    <div role="tabpanel">

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#voir" aria-controls="voir" role="tab" data-toggle="tab">Voir</a></li>
            <li role="presentation"><a href="#modifier" aria-controls="modifier" role="tab" data-toggle="tab">Modifer</a></li>
            <li role="presentation"><a href="#parametres" aria-controls="parametres" role="tab" data-toggle="tab">Paramètres</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="voir">

                <div class="group">
                    <label>Prénom</label>
                    <p>{{ app.user.name }}</p>
                </div>

                <div class="group">
                    <label>Nom</label>
                    <p>{{ app.user.surname }}</p>
                </div>

                <div class="group">
                    <label>Username</label>
                    <p>{{ app.user.username }}</p>
                </div>

                <div class="group">
                    <label>Email</label>
                    <p>{{ app.user.mail }}</p>
                </div>

            </div>

            <div role="tabpanel" class="tab-pane" id="modifier">

                <h2>Informations</h2>

                {{ form(formChangePersonalData) }}

                <h2>Mot de passe</h2>

                {{ form(formChangePassword) }}

            </div>

            <div role="tabpanel" class="tab-pane" id="parametres">

                <p>A définir</p>

            </div>

        </div>

    </div>

	<script type="application/javascript">
		$(document).ready(function() {
			/**
			 * Select tab from url
			 */
			var hash = document.location.hash;
			var prefix = "tab_";
			if (hash) {
				$('.nav-tabs a[href=' + hash.replace(prefix, "") + ']').click();
			}

			// Change hash for page-reload
			$('.nav-tabs a').on('shown', function (e) {
				window.location.hash = e.target.hash.replace("#", "#" + prefix);
			});

			// Update data list when filter item selection change
			$('.form-filter select').on('change', function () {
				$('.form-filter').submit();
			});
		});
	</script>
</div>
{% endblock %}